*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    direction: rtl;
    background-color: #f3f3f3;
}
.hello{
    color:red;
    font-size: 45px;
    margin-top: 250px;
}
.pfooter{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 90px;
    background-color: #5b5c5e;
    color:#fff;
    padding-top: 20px;
}