*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.App{
    text-align: center;
}
.App-header{
    display: flex;
    background-color: #e6e3e3;
    width: 100%;
    font-size: calc(10px + 2vmin);
}
.navbar{
    display: flex;
    color: #000;
    list-style: none;
}
.navbar li{
    padding: 15px;
   /* font-size: 20px;*/
    font-weight: bold;
    cursor: pointer;
}
.navbar li:hover{
    background-color: #dfdbdb;
    color:blue;
}
.App-logo{
    width: 75px;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  